body {
	 
	background-image: url(https://images.livemint.com/img/2023/02/07/600x338/kerala-tourism_1675753250452_1675753262214_1675753262214.jpg);
	background-size: cover;	
	color: red;
	box-shadow: 10px;
	text-shadow: 3px;
	}

header{
		background-size: cover;
    
}
{
	margin: 0;
	padding: 0;
}
.input{
	border-radius: 30px;
}
img{
	height: 150px;
	width: 150px;
	box-shadow: 100;
}
section{
    color: white;
}